<span class="plugin-status" *ngIf="lastStatus != null">
    <mat-spinner *ngIf="lastStatus === 'PENDING'" [color]="isOld ? '' : color" mode="indeterminate" [diameter]="spinner"
        aria-hidden="true">
    </mat-spinner>
    <mat-icon *ngIf="lastStatus === 'SUCCESS'" [color]="isOld ? '' : color" inline="true" aria-hidden="true">done
    </mat-icon>
    <mat-icon *ngIf="lastStatus === 'FAILURE'" [color]="isOld ? '' : 'warn'" inline="true" aria-hidden="true">error
    </mat-icon>
    {{lastUsedTimeHuman | async}}
</span>
