<h2>Template Tab</h2>
<form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
        <mat-label>Location</mat-label>
        <mat-select formControlName="location">
            <mat-option *ngFor="let location of tabGroupNameOverrides | keyvalue" [value]="location.key">
                {{location.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="templateForm.controls['name'].invalid">Invalid tab name!</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Description:</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Sort Key:</mat-label>
        <input matInput type="number" formControlName="sortKey">
    </mat-form-field>
    <qhana-plugin-filter-editor [tabLink]="tabLink" (filterEmitter)="filterString = $event"></qhana-plugin-filter-editor>
    <br>
    <button mat-raised-button type="submit" color="primary">{{templateLink ? 'Create' : 'Update'}} Tab</button>
</form>