<h2>Template Tab</h2>
<form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
        <mat-label>Name:</mat-label>
        <input matInput id="name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Description:</mat-label>
        <textarea matInput id="description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Sort Key:</mat-label>
        <input matInput type="number" id="sortKey" formControlName="sortKey">
    </mat-form-field>
    <mat-form-field class="form-field">
        <mat-label>Filter String:</mat-label>
        <textarea matInput id="filterString" formControlName="filterString"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">{{templateLink ? 'Create' : 'Update'}} Tab</button>
</form>