
.title
    display: flex
    justify-content: space-between
    align-items: center

.step-card
    margin-block-start: 0.8rem

.result-log
    margin-block: 1rem

.log-text
    overflow: auto
    //white-space: pre-wrap
    //overflow-wrap: anywhere

.notes-card
    margin-block-end: 1rem

.recommendation-card
    margin-block-end: 1rem

.summary-item
    margin-inline-end: 1em
    font-weight: 700

.step-details
    margin-block-end: 0px

.step-details dt
    display: inline-block
    margin-inline-end: 1em
    font-weight: 700

.step-details dd
    display: inline-block
    margin-inline-start: 0px

.step-details dt::after
    content: ": "

.step-progress
    display: inline-flex
    align-items: baseline
    gap: 0.3em

.progress-meter
    display: inline-block
    width: 10em
    align-self: center

.flex-title
    display: inline-flex
    flex-wrap: wrap
    align-items: center
    width: 100%

.spacer
    flex-grow: 1

.clickable
    cursor: pointer

.notes-title
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%

.notes-status
    display: inline-flex
    align-items: center
    gap: 0.5em

.notes-content-spinner
    margin-inline: auto
    margin-block: 1.5rem
    padding: 0.1rem

.data-preview-list
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 2rem

.timeline-substeps
    display: block
    margin-block: 1rem
