
.logo-link
    height: 100%
    display: inline-flex
    align-items: center
    color: white
    text-decoration: none
    cursor: pointer

.logo-link:visited
    color: white

.app-logo
    height: 86%
    mix-blend-mode: screen
    margin-right: 0.3rem

.toolbar-spacer
    flex-grow: 1
