<mat-toolbar color="primary">
    <a class="logo-link" [routerLink]="['/']">
        <img class="app-logo" height="86%" src="assets/QHAna_logo_notext_inv.png" alt="QHAna logo">
        <span>{{title}}</span>
    </a>
    <div class="toolbar-spacer"></div>
    <span [hidden]="(currentExperiment|async) == null">Experiment: {{currentExperiment|async}}</span>
    <a class="settings-link" [routerLink]="['/settings']">
        <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
    </a>
</mat-toolbar>
