
.logo-link
    height: 100%
    display: inline-flex
    align-items: center
    color: var(--text-light-primary, white)
    text-decoration: none
    cursor: pointer

.logo-link:visited
    color: var(--text-light-primary, white)

.app-logo
    height: 86%
    mix-blend-mode: screen
    margin-right: 0.3rem

.toolbar-spacer
    flex-grow: 1

.settings-link
    display: inline-flex
    align-items: center
    margin-inline-start: 1rem
    padding: 0.8rem
    color: var(--text-light-primary, white)
    text-decoration: none
    cursor: pointer

.settings-link:visited
    color: var(--text-light-primary, white)
