<mat-toolbar class="nav-bar" color="primary">
    <a class="logo-link" [routerLink]="['/']">
        <img class="app-logo" height="3rem" src="assets/QHAna_logo_notext_inv.png" alt="QHAna logo">
        <span>{{title}}</span>
    </a>

    <ng-container *ngIf="(currentExperiment|async) != null">
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'info']"
            routerLinkActive="active">
            Info
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'workspace']"
            routerLinkActive="active">
            Workspace
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'data']"
            routerLinkActive="active">
            Data
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'timeline']"
            routerLinkActive="active">
            Timeline
        </a>
    </ng-container>

    <div class="toolbar-spacer"></div>

    <div [hidden]="(currentExperiment|async) == null">
        <span>{{currentExperiment|async}}</span>
        <a class="navigation-link" mat-icon-button [hidden]="(currentExperiment|async) == null" [routerLink]="['/']"
            aria-label="change experiment">
            <mat-icon>swap_horiz</mat-icon>
        </a>
    </div>
    <button mat-button [matMenuTriggerFor]="downloadList">
        <mat-icon [matBadge]="badgeCounter" [matBadgeHidden]="badgeCounter<1" matBadgeColor="warn"
            matBadgeSize="small">download</mat-icon>
    </button>
    <mat-menu #downloadList="matMenu" yPosition="below" xPosition="before">
        <p>Test</p>
    </mat-menu>
    <a class="settings-link" [routerLink]="['/settings']">
        <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
    </a>
</mat-toolbar>