<mat-toolbar class="nav-bar" color="primary">
    <a class="logo-link" [routerLink]="['/']">
        <img class="app-logo" height="3rem" src="assets/QHAna_logo_notext_inv.png" alt="QHAna logo">
        <span>{{title}}</span>
    </a>

    <ng-container *ngIf="(currentExperiment|async) != null">
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'info']" [queryParams]="{template: templateId}"
            routerLinkActive="active">
            Info
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'workspace']" [queryParams]="{template: templateId}"
            routerLinkActive="active">
            Workspace
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'data']" [queryParams]="{template: templateId}"
            routerLinkActive="active">
            Data
        </a>
        <a class="navigation-link" mat-button [routerLink]="['/experiments', (experimentId|async), 'timeline']" [queryParams]="{template: templateId}"
            routerLinkActive="active">
            Timeline
        </a>
        <a class="navigation-link" mat-button
            [routerLink]="['/experiments', (experimentId|async), 'extra', tab.resourceKey?.uiTemplateTabId]" [queryParams]="{template: templateId}"
            routerLinkActive="active" *ngFor="let tab of extraTabs">
            {{tab.name}}
        </a>
    </ng-container>

    <div class="toolbar-spacer"></div>

    <div [hidden]="(currentExperiment|async) == null">
        <span>{{currentExperiment|async}}</span>
        <a class="navigation-link" mat-icon-button [hidden]="(currentExperiment|async) == null" [routerLink]="['/']"
            aria-label="change experiment">
            <mat-icon>swap_horiz</mat-icon>
        </a>
    </div>
    <button class="downloads-button" mat-icon-button [matMenuTriggerFor]="downloadList" aria-label="Show downloads">
        <mat-icon [matBadge]="downloadBadgeCounter | async" [matBadgeHidden]="!(downloadBadgeCounter | async)"
            matBadgeColor="accent" matBadgeSize="small">download</mat-icon>
    </button>
    <mat-menu class="download" #downloadList="matMenu" yPosition="below">
        <p class="download-heading">Available downloads:</p>
        <ng-container *ngFor="let export of exportList | async; trackBy:trackExport">
            <mat-divider></mat-divider>
            <div class="download-item">
                <div class="download-container">
                    <a role="button" mat-icon-button aria-label="Download" *ngIf="export.status === 'SUCCESS'"
                        href="{{export.fileLink}}" target="_blank">
                        <mat-icon>download</mat-icon>
                    </a>
                    <mat-spinner [diameter]="24" *ngIf="export.status === 'PENDING'"></mat-spinner>
                    <span class="download-name">{{export.name}}</span>
                    <mat-icon color="warn" *ngIf="export.status === 'FAILURE'">error</mat-icon>
                    <button class="delete-button" mat-icon-button color="warn" aria-label="Delete"
                        (click)="deleteExport(export.experimentId, export.exportId); $event.stopPropagation()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </mat-menu>
    <a class="settings-link" [routerLink]="['/settings']">
        <mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon>
    </a>
</mat-toolbar>
