<mat-list>
    <ng-container [ngSwitch]="link.resourceType" *ngFor="let link of items; trackBy: trackBy; last as last">

        <mat-list-item *ngSwitchDefault (click)="onItemClick(link)">
            <div class="default-content {{isHighlighted(link) ? 'highlighted' : ''}}">
                <span aria-role="button" class="list-item-title">
                    {{link.name ?? link.href}}
                </span>
                <button mat-icon-button aria-label="Edit item" (click)="onItemEditClick(link); $event.stopPropagation()"
                    *ngIf="editButton">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="Delete item"
                    (click)="onItemDeleteClick(link); $event.stopPropagation()" *ngIf="deleteButton">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
    </ng-container>
</mat-list>
<button mat-raised-button class="more-button" (click)="loadMore()" *ngIf="loadMoreApiLink != null"
    [disabled]="isLoading || loadMoreClicked">
    load more
</button>
