.default-content
    margin-inline: -16px
    flex-grow: 1
    display: flex
    gap: 0.3em
    align-items: center

.default-content:hover
    background-color: var(--primary)
    background-blend-mode: color

.default-content.highlighted
    background-color: var(--primary)
    background-blend-mode: color

.list-item-title
    text-align: left
    flex-grow: 1

.more-button
    width: 100%
