<h1 mat-dialog-title>{{data.template ? 'Update' : 'Create'}} UI Template</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="templateName" required minlength="1">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput class="description-textarea" [(ngModel)]="templateDescription"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="form-field">
            <input matInput placeholder="Tag name" [(ngModel)]="tagName">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addTag()">Add Tag</button>

        <div *ngIf="templateTags.length > 0">
            <h3>Tags:</h3>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of templateTags" [removable]="true" (removed)="removeTag(tag)">
                    {{tag}}
                <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="{name: templateName, description: templateDescription, tags: templateTags}">
        {{data.template ? 'Update' : 'Create'}} Template
    </button>
</div>
