<!-- <mat-card class="page-item card download" *ngFor="let export of exportList | async; trackBy:trackExport">
    <mat-card-content>
        <span>{{export.name}}</span>
        <div class="toolbar-spacer"></div>
        <a role="button" mat-raised-button color="primary" [disabled]="export.status != 'SUCCESS'"
            href="{{export.fileLink}}">Download</a>
        <mat-progress-bar [mode]="export.status == 'PENDING' ? 'indeterminate' : 'determinate'" [value]="100"
            [color]="export.status == 'FAILURE' ? 'warn' : 'primary'">
        </mat-progress-bar>
    </mat-card-content>
</mat-card> -->
