.arrow-button
    position: relative
    top: -0.3em

.arrow
    display: inline-block
    font-size: 15pt
    color: dimgray
    font-weight: 1000
    cursor: pointer

.search-button
    position: relative
    top: -0.5em

.filter
    display: flex
    align-items: center
    justify-content: space-between

.checkbox
    position: relative
    top: -0.5em
