.flex-header
    display: flex
    align-items: center
    justify-content: space-between

@mixin arrow-icon-size($scale: 1.025)
    transform: scale($scale)

.align-arrow
    display: flex
    align-items: center

.arrow-button
    @include arrow-icon-size()

.arrow
    @include arrow-icon-size()
    color: dimgray
    font-weight: 1000
    cursor: pointer

.search-button
    position: relative
    top: -0.5em

.filter
    display: flex
    align-items: center
    justify-content: space-between

.checkbox
    position: relative
    top: -0.5em
