.url-form-group
    width: 100%
    display: inline-flex
    gap: 0.4rem
    flex-wrap: wrap
    justify-content: stretch

.short-field
    max-width: 8rem

.long-field
    flex-grow: 1

.endpoint-description
    flex-grow: 1
