<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let step of substeps; trackBy: trackByFunction" togglePosition="before"
        [expanded]="!parentFinished && !step.cleared">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Substep {{step.substepNr}} {{step.substepId ? '- ' + step.substepId : ''}} {{step.cleared ? '(cleared)'
                : ''}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!parentFinished && !step.cleared && step.hrefUi">
            <qhana-plugin-uiframe [url]="step.hrefUi" (formDataSubmit)="onPluginUiFormSubmit($event, step)">
            </qhana-plugin-uiframe>
        </div>
        <p *ngIf="!parentFinished && !step.cleared && !step.hrefUi">
            Substep is not cleared but does not provide a microfrontend.
            (href: {{step.href}})
        </p>
        <div *ngIf="parentFinished || step.cleared">
            <qhana-substeps-details [experimentId]="experimentId" [substepRef]="step"></qhana-substeps-details>
        </div>
    </mat-expansion-panel>
</mat-accordion>
