<h1 mat-dialog-title>Choose plugin</h1>
<div mat-dialog-content>
    <div>
        <qhana-growing-list [rels]="['plugin', 'collection']" [query]="queryParams" [newItemRels]="['plugin']"
            [highlighted]="highlightedPluginSet" [highlightByKey]="'pluginId'" (clickItem)="selectPlugin($event)">
        </qhana-growing-list>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="selectedPlugin"
        [disabled]="selectedPlugin == null">
        Choose
    </button>
</div>
