<div class="preview-header">
    <div>
        <ng-content></ng-content>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Preview With:</mat-label>
        <mat-select [(ngModel)]="chosenPreview">
            <mat-optgroup label="Builtin Previews">
                <mat-option *ngFor="let option of builtinPreviewOptions" [value]="option">{{option.name}}</mat-option>
            </mat-optgroup>
            <mat-optgroup label="Plugin Previews" *ngIf="(pluginPreviewOptions?.length ?? 0) > 0">
                <mat-option *ngFor="let option of pluginPreviewOptions" [value]="option">{{option.name}}</mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
</div>
<qhana-plugin-preview  [src]="downloadUrl" [dataType]="previewData?.dataType ?? null" [contentType]="previewData?.contentType ?? null" [plugin]="chosenPreview.plugin" *ngIf="chosenPreview != null && chosenPreview.type === 'plugin'"></qhana-plugin-preview>
<mat-card class="data-preview card" *ngIf="chosenPreview?.type !== 'plugin'">
    <mat-card-content>
        <ng-container *ngIf="chosenPreview != null && chosenPreview.type === 'internal'">
            <ng-container [ngSwitch]="chosenPreview.previewType">
                <qhana-raw-text-preview [src]="downloadUrl" *ngSwitchCase="'raw-text'"></qhana-raw-text-preview>
                <qhana-iframe-preview [src]="downloadUrl" *ngSwitchCase="'text-iframe'"></qhana-iframe-preview>
                <qhana-iframe-preview [src]="downloadUrl" [isHtml]="true" *ngSwitchCase="'html-iframe'"></qhana-iframe-preview>
                <qhana-markdown-preview [src]="downloadUrl" *ngSwitchCase="'markdown'"></qhana-markdown-preview>
                <qhana-query-param-preview [src]="downloadUrl" *ngSwitchCase="'query-params'"></qhana-query-param-preview>
                <qhana-image-preview [src]="downloadUrl" *ngSwitchCase="'image'"></qhana-image-preview>
                <p class="preview-hint" *ngSwitchDefault>No Preview</p>
            </ng-container>
        </ng-container>
        <p class="preview-hint" *ngIf="builtinPreviewOptions.length === 0 && pluginPreviewOptions.length === 0">No Preview Available</p>
        <p class="preview-hint" *ngIf="(builtinPreviewOptions.length > 0 || pluginPreviewOptions.length > 0) && chosenPreview == null">Select a Preview Option</p>
    </mat-card-content>
</mat-card>
