
.preview-header
    display: flex
    justify-content: space-between

.data-preview
    padding: 0px
    max-height: 90vh
    overflow-y: auto

.preview-hint
    display: inline-block
    padding-block: 1rem
    padding-inline: 1rem
    width: calc(100% - 2rem)
    text-align: center
