<mat-card-content>
    <dl class="substep-details">
        <div>
            <dt>Cleared</dt>
            <dd>
                {{substep?.cleared}}
            </dd>
        </div>

        <div>
            <dt>Substep ID</dt>
            <dd>{{substep?.substepId}}</dd>
        </div>
        <div>
            <dt>Substep Nr</dt>
            <dd>{{substep?.substepNr}}</dd>
        </div>
        <div>
            <dt>Processor Location</dt>
            <dd>{{substep?.href}}</dd>
        </div>
        <!-- TODO: add ui href too? -->
        <details class="collapsible-item">
            <summary class="summary-item">Parameters</summary>
            <qhana-data-preview [data]="substep"></qhana-data-preview>
        </details>
    </dl>
</mat-card-content>
<ng-container *ngIf="substep && substep.inputData != null && substep.inputData.length > 0">
    <h2>Input</h2>
    <qhana-preview-list [dataList]="substep?.inputData ?? []"></qhana-preview-list>
</ng-container>