// eslint-disable-next-line prefer-arrow/prefer-arrow-functions
(function (window) {
    window["env"] = window["env"] || {};

    // Environment variables
    // placeholders will be replaced with the content of the respective environment variables by the envsubst tool
    // if an environment variable is not set, the condition in the ternary operator will be false and the default value at the end of the respective line will be used

    window["env"]["production"] = "${PRODUCTION}" != "" ? "${PRODUCTION}" : true;
    window["env"]["PLUGIN_REGISTRY_PROTOCOL"] = "${PLUGIN_REGISTRY_PROTOCOL}" != "" ? "${PLUGIN_REGISTRY_PROTOCOL}" : "http:";
    window["env"]["PLUGIN_REGISTRY_HOSTNAME"] = "${PLUGIN_REGISTRY_HOSTNAME}" != "" ? "${PLUGIN_REGISTRY_HOSTNAME}" : "localhost";
    window["env"]["PLUGIN_REGISTRY_PORT"] = "${PLUGIN_REGISTRY_PORT}" != "" ? "${PLUGIN_REGISTRY_PORT}" : "5000";
    window["env"]["PLUGIN_REGISTRY_PATH"] = "${PLUGIN_REGISTRY_PATH}" != "" ? "${PLUGIN_REGISTRY_PATH}" : "/api/";

  })(this);
