<div>
    <div *ngIf="isFilterEmpty()" class="create-buttons">
        <button mat-raised-button type="button" (click)="setFilter('and')" color="primary">
            <mat-icon>add</mat-icon>
            AND
        </button>
        <button mat-raised-button type="button" (click)="setFilter('or')" color="primary">
            <mat-icon>add</mat-icon>
            OR
        </button>
        <button mat-raised-button type="button" (click)="setFilter('name')" color="primary">
            <mat-icon>add</mat-icon>
            Filter
        </button>
    </div>
    <mat-card *ngIf="!isFilterEmpty()" class="filter-node mat-elevation-z0" [ngClass]="{'filter-leaf' : type !== 'and' && type !== 'or'}">
        <mat-card-header>
            <ng-container *ngIf="children != null">
                <div class="config-header">
                    <mat-button-toggle-group [value]="type" (valueChange)="changeType($event)">
                        <mat-button-toggle value="and">AND</mat-button-toggle>
                        <mat-button-toggle value="or">OR</mat-button-toggle>
                    </mat-button-toggle-group>
                    <div class="config-header-buttons">
                        <button mat-raised-button *ngIf="depth < 2" type="button" (click)="addFilter('and')" color="primary">
                            <mat-icon>add</mat-icon>
                            AND
                        </button>
                        <button mat-raised-button *ngIf="depth < 2" type="button" (click)="addFilter('or')" color="primary">
                            <mat-icon>add</mat-icon>
                            OR
                        </button>
                        <button mat-raised-button type="button" (click)="addFilter('name')" color="primary">
                            <mat-icon>add</mat-icon>
                            Filter
                        </button>
                        <button mat-raised-button type="button" (click)="deleteFilter()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="children != null">
                <qhana-plugin-filter-node *ngFor="let child of children; let i = index" [filterObject]="children[i]" [index]="i" 
                    [depth]="depth + 1" (childChange)="updateChild($event)"></qhana-plugin-filter-node>
            </ng-container>
            <div class="config-filter" *ngIf="value != null">
                <h3 *ngIf="inverted">Not:</h3>
                <mat-form-field class="inner-form-field">
                    <mat-label>Filter Type:</mat-label>
                    <mat-select [value]="type" (valueChange)="changeType($event)">
                        <mat-option value="name">Name</mat-option>
                        <mat-option value="tag">Tag</mat-option>
                        <mat-option value="version">Version</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Filter String:</mat-label>
                    <textarea matInput [value]="value" (input)="updateFilterString($event)" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="15"></textarea>
                </mat-form-field>
                <button mat-raised-button type="button" (click)="deleteFilter()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <mat-checkbox [checked]="inverted" (change)="invertFilter()">Invert - <i>Negate this filter</i></mat-checkbox>
        </mat-card-content>
    </mat-card>
</div>