
.data-details dt
    display: inline-block
    margin-inline-end: 1em
    font-weight: 700

.data-details dd
    display: inline-block
    margin-inline-start: 0px

.data-details dt::after
    content: ": "

.data-card
    margin-block-end: 1rem

.preview-card
    padding: 0px

.preview-frame
    width: 100%
    min-height: 10rem
    max-height: 80vh
    height: max-content
