
.title
    display: flex
    justify-content: space-between
    align-items: center

.page-item-list
    display: flex
    flex-direction: column
    gap: 1rem

.data-details dt
    display: inline-block
    margin-inline-end: 1em
    font-weight: 700

.data-details dd
    display: inline-block
    margin-inline-start: 0px

.data-details dt::after
    content: ": "
