
.flex-header
    display: flex
    align-items: center
    justify-content: space-between

.title
    display: flex
    justify-content: space-between
    align-items: center

.page-item-list
    display: flex
    flex-direction: column
    gap: 1rem

.data-details dt
    display: inline-block
    margin-inline-end: 1em
    font-weight: 700

.data-details dd
    display: inline-block
    margin-inline-start: 0px

.data-details dt::after
    content: ": "

.download-button
    background-color: var(--background)
    color: var(--text)

.download-button:hover
    color: var(--primary-text)

.paginator
    background-color: var(--background)
    color: var(--text)

.align-arrow
    display: flex
    align-items: center

.arrow-button
    margin-left: 0.5em
    font-size: 0.8em

.arrow
    display: inline-block
    align-items: center
    justify-content: center
    color: dimgray
    font-weight: 1000
    cursor: pointer

.filter
    display: flex
    align-items: center
    justify-content: space-between
    margin-block-end: 0.8rem

.search-field
    width: clamp(15rem, 75%, 60rem)
