/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat

@include mat.core()

$my-primary: mat.define-palette(mat.$deep-purple-palette)
$my-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400)

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette)

$my-theme: mat.define-light-theme((color: (primary: $my-primary,accent: $my-accent,warn: $my-warn,)))

@include mat.all-component-themes($my-theme)

//expose the as css variables to be used in other styles
:root
    --primary: #{mat.get-color-from-palette($my-primary, 'default')}
    --primary-darker: #{mat.get-color-from-palette($my-primary, 'darker')}
    --primary-lighter: #{mat.get-color-from-palette($my-primary, 'lighter')}
    --primary-text: #{mat.get-color-from-palette($my-primary, 'text')}
    --accent: #{mat.get-color-from-palette($my-accent, 'default')}
    --accent-darker: #{mat.get-color-from-palette($my-accent, 'darker')}
    --accent-lighter: #{mat.get-color-from-palette($my-accent, 'lighter')}
    --accent-text: #{mat.get-color-from-palette($my-accent, 'text')}
    --warn: #{mat.get-color-from-palette($my-warn, 'default')}
    --warn-darker: #{mat.get-color-from-palette($my-warn, 'darker')}
    --warn-lighter: #{mat.get-color-from-palette($my-warn, 'lighter')}
    --warn-text: #{mat.get-color-from-palette($my-warn, 'text')}
    --text-primary: #{mat.get-color-from-palette(mat.$light-theme-foreground-palette, 'text')}
    --text-secondary: #{mat.get-color-from-palette(mat.$light-theme-foreground-palette, 'secondary-text')}
    --text-disabled: #{mat.get-color-from-palette(mat.$light-theme-foreground-palette, 'disabled-text')}
    --text-light-primary: #{mat.get-color-from-palette(mat.$dark-theme-foreground-palette, 'text')}
    --text-light-secondary: #{mat.get-color-from-palette(mat.$dark-theme-foreground-palette, 'secondary-text')}
    --text-light-disabled: #{mat.get-color-from-palette(mat.$dark-theme-foreground-palette, 'disabled-text')}

$my-typography: mat.define-typography-config()

// expose typography as css classes
.t-page-headline
    @include mat.typography-level($my-typography, 'display-2')
    margin-block: 0.8ex

.t-headline
    @include mat.typography-level($my-typography, 'headline')

.t-title
    @include mat.typography-level($my-typography, 'title')

.t-subheading
    @include mat.typography-level($my-typography, 'subheading-2')

.t-subsubheading
    @include mat.typography-level($my-typography, 'subheading-1')

.t-paragraph
    @include mat.typography-level($my-typography, 'body-1')

html, body
    height: 100%

body
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif

////////////////////////////////////////////////////////////////////////////////
// top level classes applying to all components ////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.big-content
    // max width for readability
    max-width: 60rem
    // auto center content
    margin-inline-start: auto
    margin-inline-end: auto

.big-nav-tabs .mat-tab-list
    color: red
    left: calc(calc(100% - 60rem)/2)
    max-width: 60rem

.page-item-list
    display: flex
    flex-direction: column
    gap: 1rem

.title-link
    color: var(--primary)

.title-link:visited
    color: var(--primary-darker)

.scroll-spacer
    height: 20vh

.bold
    font-weight: 500

.italic
    font-style: italic

// Milkdown markdown content

.markdown-wrapper > .milkdown
    max-width: revert
    padding: revert
    box-shadow: revert

.milkdown .slash-dropdown
    z-index: 1

.milkdown .heading::before
    margin-inline-end: 0.3em
    opacity: 0.5

.milkdown .heading.h1::before
    content: "#"

.milkdown .heading.h2::before
    content: "##"

.milkdown .heading.h3::before
    content: "###"

.milkdown .heading.h4::before
    content: "####"

.milkdown .heading.h5::before
    content: "#####"

.milkdown .heading.h6::before
    content: "######"

.milkdown .katex::before
    content: "$"
    margin-inline: 0.2em
    opacity: 0.5

.milkdown .katex::after
    content: "$"
    margin-inline: 0.2em
    opacity: 0.5

.milkdown .math-block .katex::before
    content: none
    margin-inline: 0.2em
    opacity: 0.5

.milkdown .math-block .katex::after
    content: none
    margin-inline: 0.2em
    opacity: 0.5

// qhana form inputs (from micro frontends)

form.qhana-form
    max-width: initial

.qhana-form-label
    @include mat.typography-level($my-typography, 'body-1')
    font-weight: 500
    padding-inline-start: 0.5rem
    color: var(--border-color, currentColor)

.qhana-form-input, input.qhana-form-input, select.qhana-form-input, textarea.qhana-form-input
    border: 2px solid var(--border-color, currentColor)
    border-radius: 5px
    max-width: initial
    box-sizing: border-box
    padding-inline: 0.5rem
    padding-block: 1.3ex

.qhana-form-input:focus
    outline: none

.qhana-form-field
    margin-block-end: 0.8rem
    --border-color: var(--text-secondary, #333)

.qhana-form-field:hover:not(:focus-within)
    --border-color: var(--text-primary, black)

.qhana-form-field:focus-within
    --border-color: var(--primary, black)

.qhana-form-input:focus-visible
    outline: 4px solid var(--accent-darker, black)

.qhana-form-submit
    margin: 0.4rem
    padding-inline: 1em
    background-color: var(--primary, purple)
    color: var(--text-light-primary, white)
    cursor: pointer
    outline: none
    border: none
    border-radius: 4px
    font-size: 14px
    line-height: 36px
    font-weight: 500

.qhana-form-submit:active
    background-color: var(--primary-lighter, purple)

.qhana-form-submit:focus-visible
    outline: 4px solid var(--accent-darker, black)

.qhana-choose-file-button
    padding-inline: 0.5rem
    padding-block: 1.3ex
    color: var(--primary, purple)
    background-color: var(--text-light-primary, white)
    cursor: pointer
    outline: none
    border: 2px solid var(--primary, purple)
    border-radius: 4px
    font-weight: 500

.qhana-choose-file-button:hover
    background-color: var(--primary, purple)
    color: var(--text-light-primary, white)

.qhana-choose-file-button:active
    background-color: var(--primary-lighter, purple)
    color: var(--text-dark-primary, black)

.qhana-choose-file-button:focus-visible
    outline: 4px solid var(--accent-darker, black)

.qhana-error-message
    @include mat.typography-level($my-typography, 'body-1')
    color: var(--warn-text, red)
    margin-block-start: 0px

.plugin-micro-frontend
    @include mat.typography-level($my-typography, 'body-1')

.plugin-micro-frontend h1
    @include mat.typography-level($my-typography, 'headline')

.plugin-micro-frontend h2
    @include mat.typography-level($my-typography, 'title')

.plugin-micro-frontend h3
    @include mat.typography-level($my-typography, 'subheading-2')

.plugin-micro-frontend h4
    @include mat.typography-level($my-typography, 'subheading-1')
