.workspace-content
    display: grid
    grid-template-areas: "sidebar main spacer"
    grid-template-columns: minmax(min-content, calc( (100vw - 60rem)/2 )) minmax(20rem, 1fr) minmax(0.5rem, calc( (100vw - 60rem)/2 ))

.sidebar
    grid-area: sidebar
    margin-inline-end: 0.5rem

.content-container
    grid-area: main

.content-container .main-content
    max-width: 60rem
    margin-inline: auto

.title
    display: flex
    justify-content: space-between
    align-items: center

.card-list
    margin-inline: -16px

.active-list-item
    background-color: var(--primary-lighter)
    color: var(--text-primary)

.active-list-item:focus
    background-color: var(--primary-lighter)

.plugin-details
    margin-block-end: 1rem

.plugin-header
    display: flex
    gap: 0.5rem
    align-items: center
    cursor: pointer
    margin-block-start: 0px
    margin-block-end: 1rem

.plugin-description-container
    display: flex
    flex-direction: column

.card .plugin-description-container
    margin-bottom: -16px
    margin-inline: -16px

.plugin-description-container > .scroll-container
    padding-bottom: 16px
    padding-inline: 16px
    flex-grow: 1
    flex-shrink: 1

.plugin-description-container
    position: relative

.plugin-description-container.closed
    max-height: 12rem
    overflow: hidden

.plugin-description-container.closed::after
    position: absolute
    content: ""
    pointer-events: none
    top: 6rem
    bottom: 0px
    left: 0px
    right: 0px
    background: linear-gradient(to bottom, #FFFFFF00, var(--background))

.scroll-container
    max-height: 100%
    overflow: auto

.plugin-description
    display: block
    margin-block-start: 0.5rem

.plugin-runs
    min-width: 2.5rem

.time-ago
    font-size: 10px
    margin-right: auto
    color: rgba(0, 0, 0, 0.54)

.material-icon
    margin-left: .5rem
    margin-right: .5rem
.material-icon.color_green
    color: rgb(0, 247, 0)
.material-icon.color_grey
    color: rgb(136, 136, 136)
.material-icon.color_red
    color: rgb(255, 0, 0)
